<ul class="nav">
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a>{{#if @last}}{{else}} /{{/if}}</li>
    {{/foreach}}
</ul>