{{!< default}}
<div class="container">
	<h2>
	  <div class="image-container">
	    <a href="/about">
		      <img src="{{asset "images/JHolt.jpg"}}" class="homejon"/>
	    </a>
	  </div>
		  Jon Holt &mdash; creates simple roadmaps to help you work <em>on</em> your business instead of <em>in</em> your business.  
	</h2>
	</div>
	<div class="bar"></div>
	<div class="container">
	<p>I'm a coach, an entrepreneur, and a no-bull advisor in growing small businesses through the use of practical strategy, light-weight governance and sitting back and thinking about running your business, regardless of what you do.</p>
	<p>
	I write occasionally about problems you're probably having growing your business and how to fix them.  You can get them first when you sign up for my weekly newsletter.
	</p>
	<div class="newsletter">

	  <form action="//twentyfivetwenty.us9.list-manage.com/subscribe/post?u=e3d5c70b38a966cb27cb923d1&amp;id=1b0fd8cf0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	      <div class="signup">
	        <input type="text" placeholder="Your Email..." name="EMAIL" id="mce-EMAIL">
	        <input type="hidden" name="LOCATION" id="LOCATION" value="home">
	        <button type="submit" class="set">Send me articles</button>
	    </div>
	  </form>
	</div>
	<p>
		<a class="twitter-follow-button" href="https://twitter.com/jonmholt">Follow @jonmholt</a>
	</p>
</div>
