/* =	

	Written by paul jarvis / www.pjrvs.com
	Updated: July 30, 2014
	
	pink									f95870
	dark pink							ec3853
	black									292929
	dark grey							757575
	medium grey						a3a3a3
	light grey						e0e0e0
	blue									58caf9
	dark blue							3daddb
		
	"brandon-grotesque"		300 italic, 400, 700
	"freight-display-pro"		400, 400 italic, 700, 700 italic
	
	12, 14, 16, 20, 24, 34, 45, 56, 112
	
*/

*{border:none;outline:none;text-rendering:optimizeLegibility}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline;zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:100%}button,input,select,textarea{-webkit-appearance:none;border-radius:0;font-size:100%;line-height:normal!important;margin:0;vertical-align:middle}html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}img#wpstats{border:none;height:0;overflow:hidden;padding:0;width:0}.ir{background-repeat:no-repeat;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-9999em}.hidden{display:none!important;visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{line-height:1.2}a:active,a:hover{outline:0}b,strong{font-weight:600}em{font-style:italic}li{list-style:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{-ms-interpolation-mode:bicubic;border:0;height:auto;vertical-align:middle}svg:not(:root){overflow:hidden}legend{border:0;margin-left:-7px;padding:0;white-space:normal}button,input{line-height:1}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible}button[disabled],input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;height:13px;padding:0;width:13px}input[type=search]{-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input[type=submit]::-moz-focus-inner{border:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,.h1 a,.h2 a,.h3 a,.h4 a,.h5 a,.h6 a,a{text-decoration:none}th,td{text-align:left;vertical-align:top}
@media print{*{background:transparent!important;color:#000!important;text-shadow:none!important}body{background:#fff;color:#000;font:12pt Georgia, "Times New Roman", Times, serif;line-height:1.3}section.post-content a:after{content:" (" attr(href) ")"}tr,img{page-break-inside:avoid}img{border:0;max-width:100%!important}nav,aside{display:none}}










/* = html5 ----------------------- */

::-moz-selection { background: rgba(249, 88, 112, .2); text-shadow: none; } 
::selection { background: rgba(249, 88, 112, .2); text-shadow: none; }

.wf-loading * { visibility: hidden; }










/* = structure ----------------------- */

html, body { height: 100%; width: 100%; text-align: center; background: #fff; }
	body { font: 300 16px/1.5 "freight-text-pro", serif; color: #292929;  }
	.container { padding: 5% 5% 0 5%; text-align: left; }
	#head { position: relative; }
	
	article { margin-bottom: 45px; }
	footer { margin: 75px 0; line-height: 1.7; padding-bottom: 60px; padding-bottom: 180px; }




#slide { width: 100%; height: auto; padding: 30px 0; background: #f95870; color: #fff; position: fixed; right: 0px; bottom: -300px; font: 300 16px/1.4 "brandon-grotesque", sans-serif; }
	#slide p { padding: 0 30px; }
	#slide .more { font-weight: 400; font-size: 12px; text-transform: uppercase; background: #fff; color: #f95870; padding: 10px 30px; border-radius: 150px; display: inline-block; margin: 10px 0 0 0; }




/* = navigation ----------------------- */

	nav { margin: 0 0 30px 0; }
	nav ul { font: 12px/1.4 "brandon-grotesque", sans-serif; text-transform: uppercase; }
	
	nav li { display: inline-block; }
	nav li:first-child { padding: 0; }
	nav a { padding-right: 2px; color: #f95870; -o-transition: color .4s; -ms-transition: color .4s; -webkit-transition: color .4s; transition: color .4s; }
	nav li.signupnav a { font-weight: 500; color: #ec3853; }
	nav a:hover, nav li.signupnav a:hover { color: #a3a3a3; }

	nav img { display: none; }
	
	.home nav a {}
	.design nav .designnav a { color: #a3a3a3; }
	.about nav .aboutnav a { color: #a3a3a3; }
	.blog nav .blognav a, .archives nav .blognav a { color: #a3a3a3; }
	.signuppage nav .signupnav a { color: #a3a3a3; }
	.books nav .booknav a { color: #a3a3a3; }	








/* = typography ----------------------- */

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

h2 { font-size: 34px; margin-bottom: 30px; }
	h2 a { color: #f95870; text-decoration: underline; }
	
h3 { font-size: 34px; margin: 45px 0 15px 0; }

	.signup h3, .signupform h3, .ouimodal h3 { margin: 0 0 20px 0; font: 300 14px/1.3 "brandon-grotesque", sans-serif; color: #a3a3a3; text-transform: uppercase; font-weight: 300; }
	.signup h3 span, .signupform h3 span, .ouimodal h3 span { font-weight: 500; color: #3daddb; }
	#ouibounce-modal2 h3 span { font-weight: 500; color: #f95870; }
	
h4 { font-size: 34px; letter-spacing: -1px; margin: 45px 0 15px 0; font-weight: 700; }
	.signup h4 { margin: 0 0 30px 0; }
	h4 img { width: 70%; display: block; }

h5 { font: 500 normal 14px/1.5 "brandon-grotesque", sans-serif; color: #f95870; text-transform: uppercase; }

h6 { font-style: italic; color: #a3a3a3; margin: 75px 0; }
	h6 a { color: #757575; text-decoration: underline; -o-transition: color .4s; -ms-transition: color .4s; -webkit-transition: color .4s; transition: color .4s; }
	h6 a:hover { color: #292929; text-decoration: underline; }

p { }
	article p, article ul, article ol { margin-bottom: 15px; }
	.subbed p { font: 500 24px/1.3 "brandon-grotesque", sans-serif; color: #292929; margin-bottom: 5px !important; }
	footer p { color: #838383; color: #a3a3a3; font-size: 16px; }
	p.free { font-weight: 700; margin-top: 45px; }
	
strong { font-weight: 700; }

em { font-style: italic; font-weight: 300; font-family:  "freight-text-pro", serif; }

small {}
	.subbed small { font: 300 normal 14px/1.5 "brandon-grotesque", sans-serif; color: #a3a3a3; text-transform: uppercase; }
	.subbed small a, article .subbed small a { color: #a3a3a3; text-decoration: underline; }

blockquote { border-left: 2px solid #f95870; font: 300 italic 24px/1.3 "brandon-grotesque", sans-serif; color: #ec3853; padding: 5px 0 5px 15px; margin: 15px 0 30px 0; letter-spacing: -1px; }
	cite { font-size: 14px; font-style: normal; font-weight: 300; color: #292929; text-transform: uppercase; display: block; margin-top: 10px; letter-spacing: 0; }
	article blockquote p { margin: 0; }
	p.small { font: 300 16px/1.3 "brandon-grotesque", sans-serif; border-left: 2px solid #e0e0e0;  padding: 5px 0 5px 15px; margin: 15px 0 30px 0; }

	.call { display: none; }

img {}
	article .sig img { max-width: 80%; margin: 30px 0; }
	article img { max-width: 100%; max-height: auto; margin-bottom: 15px; }
	.books article img { max-width: 32%; display: block; float: left; -o-transition: opacity .4s; -ms-transition: opacity .4s; -webkit-transition: opacity .4s; transition: opacity .4s; margin: 0; }
	.books article img.bigimage { max-width: 100%; float: none; }
	.books article img:hover { opacity: .5; }
	img.logo { max-width: 14%; margin: 0 2% 10px auto; text-align: center; -webkit-transition: .2s ease-in-out; -o-transition: .2s ease-in-out; }
	img.logo:hover { -webkit-transform: scale(1.2); -o-transform: scale(1.2); }
	
ul, ol { }
	li { }
	article ul, article ol { margin-left: 30px; }
	article ul li { list-style: circle; padding-bottom: 10px; }
	article ol li { list-style: decimal; padding-bottom: 10px; }

	.archives article ul { margin: 0; }
	.archives article li { margin-bottom: 30px; list-style: none; }
	.archives article li a { font-weight: 700; color: #292929; }	

	article a, p.free a { color: #f95870; text-decoration: underline; -o-transition: color .4s; -ms-transition: color .4s; -webkit-transition: color .4s; transition: color .4s; }
	article a:hover { color: #ec3853; }
	article .subbed a, .subbed a { color: #58caf9; }
	article .subbed a:hover, .subbed a:hover { color: #3daddb; }	

	footer p a { color: #a3a3a3; text-decoration: underline; -o-transition: color .4s; -ms-transition: color .4s; -webkit-transition: color .4s; transition: color .4s; }
	footer p a:hover { color: #757575; text-decoration: underline; }
	
hr { border-top: 2px solid #e0e0e0; width: 30px; height: 2px; text-align: left; margin: 45px 0; display: block; }	









/* = forms ----------------------- */

form { vertical-align: top; }
	.signup, .subbed, .signupform, .onboarding { border-left: 2px solid #58caf9; padding: 5px 0 5px 15px; margin: 30px 0 30px 0; }
	
	input { border-radius: 1500px; vertical-align: top; border: 1px solid #a3a3a3; padding: 10px 30px; font: 300 italic 16px/1.3 "freight-text-pro", serif; background: #f9f9f9; width: 200px; -o-transition: background .4s; -ms-transition: background .4s; -webkit-transition: background .4s; transition: background .4s; margin-bottom: 5px; display: block; }
	input:focus { background: #fff; }

	button { border-radius: 1500px; padding: 10px 45px; background: #58caf9; color: #fff; font: 500 14px/1.3 "brandon-grotesque", sans-serif; border: 1px solid #58caf9; display: inline-block; text-transform: uppercase; letter-spacing: 2px; vertical-align: top; }
	#ouibounce-modal2 button { background: #f95870; border: 1px solid #f95870; }
	button:hover { border: 1px solid #3daddb; }

	.buttonbigger { margin: 45px 0; }
	.buttonbigger a { border: 1px solid #f95870; border-radius: 1500px; padding: 10px 30px; background: #fff; text-decoration: none; font-style: italic; font-size: 20px; -o-transition: all .4s; -ms-transition: all .4s; -webkit-transition: all .4s; transition: all .4s; }
	.buttonbigger a:hover { border: 1px solid #292929; color: #292929; }

	.button { color: #a3a3a3; vertical-align: top; }
	.button a { font-style: italic; }


.callout { background: rgba(242,242,242,.9); font-size: 14px; font-family: "brandon-grotesque"; padding: 15px; text-transform: uppercase; }
.callout span { background: rgba(249, 88, 112, .95); border-radius: 3px; color: #fff; padding: 3px 20px; }
.callout a { color: #58caf9; text-decoration: underline; }
.callout span a { color: #fff; text-decoration: none; }

.related { }
.related li { font-size: 12px; list-style: circle; margin-left: 30px; }
.related li a { color: #a3a3a3; font-size: 18px; }



/* = common ----------------------- */

.aligncenter { clear: both; margin-right: auto; margin-left: auto; text-align: center; }
.alignleft, .alignright { display: block; }

.ouimodal {   display: none;   position: fixed;   top: 0;   left: 0;   width: 100%;   height: 100%; }
#ouibounce-modal .underlay {   width: 100%;   height: 100%;   position: absolute;   top: 0;   left: 0;   background: rgba(249, 88, 112, .95);   cursor: pointer;   -webkit-animation: fadein 0.6s;   animation: fadein 0.6s; }
#ouibounce-modal2 .underlay {   width: 100%;   height: 100%;   position: absolute;   top: 0;   left: 0;   background: rgba(88, 202, 249, .95);   cursor: pointer;   -webkit-animation: fadein 0.6s;   animation: fadein 0.6s; }

.ouimodal .modal {   max-width: 470px; 	max-height: 280px;   background-color: #fff;   z-index: 1;   position: absolute;   margin: auto;   top: 0;   right: 0;   bottom: 0;   left: 0;   border-radius: 4px;   -webkit-animation: popin 0.6s;   animation: popin 0.6s; }

.ouimodal .modal-body { padding: 30px; }

.ouimodal p { font-size: 16px; }
.ouimodal form { background: none; padding: 20px 0 0 0; margin: 0; } 
.ouimodal input { border-radius: 1500px; border: 1px solid #a3a3a3; padding: 10px 30px; font: 300 italic 16px/1.3 "freight-text-pro", serif; background: #f9f9f9; display: inline-block; width: 150px; } 
.ouimodal .modal-footer { font-size: 13px; text-decoration: underline; margin-top: 20px; cursor: pointer; color: #757575; }

@-webkit-keyframes fadein { 0% {     opacity: 0;   }   100% {     opacity: 1;   } } 

@-ms-keyframes fadein {   0% {     opacity: 0;   }   100% {     opacity: 1;   } } 

@keyframes fadein {   0% {     opacity: 0;   }   100% {     opacity: 1;   } } 

@-webkit-keyframes popin {   0% {     -webkit-transform: scale(0);     transform: scale(0);     opacity: 0;   }   85% {     -webkit-transform: scale(1.05);     transform: scale(1.05);     opacity: 1;   }   100% {     -webkit-transform: scale(1);     transform: scale(1);     opacity: 1;   } } 

@-ms-keyframes popin {   0% {     -ms-transform: scale(0);     transform: scale(0);     opacity: 0;   }   85% {     -ms-transform: scale(1.05);     transform: scale(1.05);     opacity: 1;   }   100% {     -ms-transform: scale(1);     transform: scale(1);     opacity: 1;   } } 

@keyframes popin {   0% {     -webkit-transform: scale(0);     -ms-transform: scale(0);     transform: scale(0);     opacity: 0;   }   85% {     -webkit-transform: scale(1.05);     -ms-transform: scale(1.05);     transform: scale(1.05);     opacity: 1;   }   100% {     -webkit-transform: scale(1);     -ms-transform: scale(1);     transform: scale(1);     opacity: 1;   } }










/* = media queries ----------------------- */


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

} /* */



@media screen and (min-width: 766px) {

	body { font-size: 18px; }
	.container { margin: 0 auto; max-width: 720px; padding: 30px 0 0 0; }
	
	.signup input, .signupform input { display: inline-block; width: 300px; }
	.onboarding input { display: inline-block; width: 170px; }

	nav { margin: 30px 0 60px 0; font-size: 14px; width: 100%; }	
		nav ul { }
		nav li { color: #e0e0e0; padding-left: 10px; }
		.signuppage nav li { color: #a3a3a3; }
		nav a { padding-right: 10px; }
		nav img { width: 30px; height: 30px; position: absolute; top: 75px; right: 0; display: block; }
		nav img:hover { -webkit-transform-origin: top center;  transform-origin: top center; -webkit-animation-name: swing; animation-name: swing; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

@-webkit-keyframes swing { 20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; } 20% { -webkit-transform: rotate(15deg); } 40% { -webkit-transform: rotate(-10deg); } 60% { -webkit-transform: rotate(5deg); } 80% { -webkit-transform: rotate(-5deg); } 100% { -webkit-transform: rotate(0deg); } } 
@keyframes swing { 20% { transform: rotate(15deg); } 40% { transform: rotate(-10deg); } 60% { transform: rotate(5deg); } 80% { transform: rotate(-5deg); } 100% { transform: rotate(0deg); } } 

	article p, article ul, article ol { margin-bottom: 30px; }	
	
	article .paul img { max-width: 50%; max-height: auto; float: right; margin: 10px 0 30px 30px; }
	article .tcc img { max-width: 40%; max-height: auto; float: right; margin: 10px 0 30px 30px; }
	article .sig img { max-width: 40%; margin: 30px 0; }
	
	article .clientlist { margin: 0; }
	article .clientlist li { list-style: none; display: inline-block; width: 32%;  }	
	
	.logos { margin: 45px 0 30px 0; display: block; }
	
	.call { width: 50%; display: block; font: 300 italic 34px/1.3 "brandon-grotesque", sans-serif; color: #58caf9; text-align: center; }
	.left { float: left; margin: 0 30px 30px -50px; }
	.right { float: right; margin: 0 -150px 30px 30px; }
	
#slide { width: 300px; }	
}



@media screen and (min-width: 1024px) { 
	body { font-size: 20px; }
	nav img { width: 35px; height: 35px; }

	h2 { font-size: 54px; letter-spacing: -1px; }
	h3,h4 { font-size: 34px; }
	
	.container { margin: 0 auto; max-width: 950px; }
		article { width: 710px; }
		.mainbook article { width: 950px; }
		
	article .paul img { max-width: 410px; float: right; margin: 10px -240px 30px 30px; }	
	article .tcc img { max-width: 310px; float: right; margin: 10px -240px 30px 30px; }	

	blockquote, .signup, .subbed { padding-left: 30px; margin: 45px 0; }	
	.subbed { margin: 45px 0; }
	
} /* */



@media screen and (min-width: 1224px) { 
	
	body { font-size: 28px; }
	.signup h3, cite { font-size: 16px; }		
	
} /* */
